<ul class="breadcrumb">
  <li>
    <%= link_to 'Art Life', root_path %><span class="divider">>></span>
  </li>
  <li>
    <%= link_to @category.name, category_path(@category) %><span class="divider">>></span>
  </li>
  <li class="active"><%= @artist.title %></li>
</ul>

<section>
  <header>
    <h1>Biography</h1>
  </header>
  <article>
    <h1>
      <%= @artist.title %>
      <span>(<%= @artist.country %>)</span>
    </h1>
    <%= raw @artist.biography %>
  </article>
</section>

<section>
  <header>
    <h1>Gallery</h1>
  </header>
  <article>
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
      <% @artist.photos.by_position.each do |photo| %>
        <%= link_to image_tag(photo.data.url(:thumb)), photo.data.url(:content), :rel => 'gallery', :title => @artist.title %>
      <% end -%>
    </div>
  </article>
</section>

<section>
  <header>
    <h1><%= t(:audio) %></h1>
  </header>
  <article>
    <% @artist.media_urls.audio.by_position.each do |item| %>
      <div class='media_item'>
        <embed src="<%= item.player_url %>"
          type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="280" height='200'></embed>
        <div><%= item.title %></div>
      </div>
      <% end -%>
  </article>
</section>

<section>
  <header>
    <h1><%= t(:video) %></h1>
  </header>
  <article>
    <% @artist.media_urls.video.by_position.each do |item| %>
      <div class='media_item'>
        <embed src="<%= item.player_url %>"
          type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="280" height='200'></embed>
        <div><%= item.title %></div>
      </div>
    <% end -%>
  </article>
</section>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>
