<%= form_for [:admin, @category, @artist] do |f| %>
  <fieldset>
    <legend><%= new_edit_legend(@artist) %></legend>
    <%= render "share/form_input", :f => f, :resource => @artist, :input => [:collection_select, :category_id, Category.all, :id, :name], :custom_label => "Category" %>
    <%= render :layout => "share/translation", :locals => {:resource => @artist, :form => f } do |translation_form| %>
      <%= render "share/form_input", :f => translation_form, :resource => @artist, :input => [:text_field, :title] %>
      <%= render "share/form_input", :f => translation_form, :resource => @artist, :input => [:text_field, :country] %>
      <%= render "share/form_input", :f => translation_form, :resource => @artist, :input => [:cktext_area, :biography] %>
    <% end -%>
    <div class="form-actions">
      <%= f.submit "Save", :class => 'btn btn-primary' %>
      <%= link_to "Cancel", admin_category_path(@category), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>