<h3>Artist: <%= @artist.title %></h3>
<ul class="breadcrumb">
  <li>
    <%= link_to 'Categories', admin_categories_path %><span class="divider">>></span>
  </li>
  <li>
    <%= link_to @category.name, admin_category_path(@category) %><span class="divider">>></span>
  </li>
  <li class="active"><%= @artist.title %></li>
</ul>

<%= link_to "Edit", edit_admin_category_artist_path(@category, @artist), :class => "btn btn-primary" %>

<h4>
  <%= @artist.title %>(<%= @artist.country %>)
</h4>
<p>
  <%= raw @artist.biography %>
</p>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Photos", "#photos_tab", 'data-toggle' => "tab" %></li>
    <li><%= link_to "Audio", "#audios_tab", 'data-toggle' => "tab" %></li>
    <li><%= link_to "Video", "#videos_tab", 'data-toggle' => "tab" %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="photos_tab">
      <%= render 'photos_tab_content' %>
    </div>
    <div class="tab-pane" id="audios_tab">
      <%= render 'audios_tab_content' %>
    </div>
    <div class="tab-pane" id="videos_tab">
      Video
    </div>
  </div>
</div>

<div class="modal hide media_url_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>