<h3>Artist: <%= @artist.title %></h3>
<ul class="breadcrumb">
  <li>
    <%= link_to 'Categories', admin_categories_path %><span class="divider">>></span>
  </li>
  <li>
    <%= link_to @category.name, admin_category_path(@category) %><span class="divider">>></span>
  </li>
  <li class="active"><%= @artist.title %></li>
</ul>

<%= link_to "Edit", edit_admin_category_artist_path(@category, @artist), :class => "btn btn-primary" %>

<h4>
  <%= @artist.title %>(<%= @artist.country %>)
</h4>
<p>
  <%= raw @artist.biography %>
</p>

<div>Photos</div>
<table class="table table-bordered photos sortable">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody update-order-url = "<%= admin_sortable_position_path("SORTABLE_ID", "POSITION", :class_name => 'Photo') %>">
    <% @artist.photos.by_position.each do |photo| %>
      <%= render 'admin/artists/photo_item', :photo => photo %>
    <% end -%>
  </tbody>
</table>
<div class="upload">
  <%= image_tag 'ajax-loader.gif', :class => 'loading_photo hide' %>
  <input id="fileupload" type="file" name="files[]" data-url="<%= admin_artist_photos_path(@artist) %>" multiple>
</div>


</div>
