<section>
  <header>
    <h1><%= t :about_us %></h1>
  </header>
  <article>
    <%= property(:about_us_page) %>
  </article>
</section>

<section>
  <header>
    <h1><%= t :news %></h1>
  </header>

  <% @news_events.each do |event| %>
    <article class='news_event'>
      <div class="date"><%= event.created_at.to_date.to_s(:date) %></div>
      <div class='preview'>
        <%= truncate strip_tags(event.content.html_safe), :length => 200 %>
        <%= link_to t(:read_more), "#", :class => "read_more" %>
      </div>
      <div class='full_text hide'><%= event.content.html_safe %></div>
    </article>
  <% end -%>
</section>
