<h3>Categories</h3>

<%= link_to "New category", new_admin_category_path %>
<table class="table table-bordered categories">
  <thead>
    <tr>
      <th>Name_en</th>
      <th>Name_cn</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody update-order-url = "<%= admin_category_position_path("CATEGORY_ID", "POSITION") %>">
    <% @categories.each do |category| %>
      <tr category-id="<%= category.id %>">
        <% Artlife::Application.config.locales.each do |locale| %>
          <td><%= raw category.name_by_locale locale %></td>
        <% end -%>
        <td>
          <%= link_to raw("<i class='icon-pencil'></i>"), edit_admin_category_path(category) %>
          <%= link_to raw("<i class='icon-remove'></i>"), admin_category_path(category), :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
