<h3>Categories</h3>

<%= link_to "New category", new_admin_category_path, :class => 'btn btn-success' %>
<table class="table table-bordered categories sortable">
  <thead>
    <tr>
      <th>Name_en</th>
      <th>Name_cn</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody update-order-url = "<%= admin_sortable_position_path("SORTABLE_ID", "POSITION", :class_name => 'Category') %>">
    <% @categories.each do |category| %>
      <tr sortable-id="<%= category.id %>">
        <% Artlife::Application.config.locales.each do |locale| %>
          <td><%= raw category.name_by_locale locale %></td>
        <% end -%>
        <td>
          <%= link_to "Artists", admin_category_path(category), :class => 'btn btn-info' %>
          <%= link_to "Edit", edit_admin_category_path(category), :class => "btn btn-primary" %>
          <%= link_to "Delete", admin_category_path(category), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
