<h3>Category: <%= @category.name %></h3>

<%= link_to "New Artist", new_admin_category_artist_path(@category), :class => 'btn btn-success' %>
<table class="table table-bordered artists sortable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>Biography</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody update-order-url = "<%= admin_sortable_position_path("SORTABLE_ID", "POSITION", :class_name => 'Artist') %>">
    <% @artists.each do |artist| %>
      <tr sortable-id="<%= artist.id %>">
        <td><%= artist.title %></td>
        <td><%= raw artist.country %></td>
        <td><%= raw artist.biography %></td>
        <td>
          <%= link_to 'Show', admin_category_artist_path(@category, artist), :class => 'btn btn-info' %>
          <%= link_to "Edit", edit_admin_category_artist_path(@category, artist), :class => "btn btn-primary" %>
          <%= link_to "Delete", admin_category_artist_path(@category, artist), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
