<tr sortable-id="<%= item.id %>">
  <td>
    <embed src="<%= item.player_url %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="150" height='100'></embed>
  </td>
  <td>
    <%= item.title %>
  </td>
  <td>
    <%= link_to "Edit", edit_admin_artist_media_url_path(@artist, item), :remote => true, :class => 'btn btn-primary' %>
    <%= link_to "Delete", admin_artist_media_url_path(@artist, item), :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'btn btn-danger' %>
  </td>
</tr>
