<%= render :layout => 'layouts/base' do %>
  <%= render 'share/admin_menu' if current_user %>

  <h1>Art Life</h1>
  <%= I18n.locale %>
  <%= property(:contacts) %>
  <%= property(:skype_name) %>
  <%= locale_switcher(:en) %>
  <%= locale_switcher(:cn) %>
  <%= render 'share/flash_message', :content => notice, :clazz => 'alert alert-success' %>
  <%= render 'share/flash_message', :content => alert, :clazz => 'alert alert-error' %>
  <%= yield %>
<% end -%>