<%= render :layout => 'layouts/base' do %>
  <%= render 'share/admin_menu' if current_user %>
  <div class="header row">
    <div class="span4">
      <h1><%= link_to "Art Life", root_path %></h1>
      <p>Time art in our life</p>
    </div>
    <div class="span4">
      <%= property(:contacts) %>
    </div>
    <div class="span4">
      <%= locale_switcher(:cn) %>
      <%= locale_switcher(:en) %>
      <div class="row">
        <div class="span2">
          <%= property(:icq_name) %>
        </div>
        <div class="span2">
          <%= property(:skype_name) %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'share/flash_message', :content => notice, :clazz => 'alert alert-success' %>
  <%= render 'share/flash_message', :content => alert, :clazz => 'alert alert-error' %>

  <%= render 'share/top_menu' %>
  <%= yield %>
  <%= render 'share/bottom_menu' %>
<% end -%>